---

import Layout from '~/layouts/PageLayout.astro';
import { log } from 'astro/dist/core/logger/core';

import { useSanityClient, groq } from 'astro-sanity';
import { urlForImage } from '../image'

const lenguaje = Astro.url.searchParams.get('lang') || "es"

function localePath(path: string) {
	return path + '?lang=' + lenguaje
}

const obras = {
  en: 'WORKS',
  es: 'OBRAS'
}

async function getWork() {
  const query = groq `*[_type == "work"] | order(anio asc) `;
  const posts = await useSanityClient().fetch(query);

  return posts;
}

let work = await getWork()

const años = getDistinctAnioValues(work)

function getDistinctAnioValues(data) {
  const anioSet = new Set();
  
  data.forEach(item => {
    anioSet.add(item.anio);
  });
  
  return Array.from(anioSet);
}

const añoSeleccionado = 0

---


<Layout >
  <div class="mx-8 m-auto">
    <h1 class="text-3xl m-2 lg:my-6 lg:text-4xl ">{obras[lenguaje]}</h1>
    <hr class=" border-gray-700 mb-3 opacity-40">
    <div class="lg:flex gap-24 mx-2 ">
      <div class="lg:mt-20">
        <div class="sticky top-24">
          {
            años.map((año, index) => {
              return (
                <button class="block hover:underline botonAño" value={año}> {año} </button>
              )
            })
          }
        </div>
      </div>
      <div class="w-full flex-1">
        {
          work.map((obra) => {
            return (
              <div class={'obra my-20'} data-año={obra.anio} >
                <div class="lg:flex justify-between w-full">
                  <img src={urlForImage(obra.imagen).url()} loading="lazy" alt="" class=" w-auto  max-h-[400px]" >
                  <div class="lg:mr-4">
                    
                    <h3 class="text-lg font-bold lg:text-right">{obra.nombre[lenguaje]}</h3>
                    <p class="">{obra.descripcion[lenguaje]}</p>
                  </div>
                </div>
                  
              </div>
            )
          })
        }
      </div>
    </div>
  </div>

</Layout>

<script>


const buttons = document.querySelectorAll('.botonAño');

// Add event listeners to fire confetti when a button is clicked.
buttons.forEach((button) => {
  
  button.addEventListener('click', () => cambiarAñoSeleccionado(button.value));
});

function cambiarAñoSeleccionado(año) {
  const obras = document.querySelectorAll('.obra')

  

  obras.forEach((button, obra) => {

    if(obra.dataset.año == año ) {
      obra.classList.add('block')
      obra.classList.remove('hidden')
    } else {
      obra.classList.remove('block')
      obra.classList.add('hidden')
    }
  })
}

cambiarAñoSeleccionado(buttons[0].value)
  
</script>


